<!-- I wrote this code -->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>{{request.user.username}} Profile Page</title>
		{% load static %}
		<link rel="stylesheet" href="{% static 'myStyles.css' %}">
	</head>
	<body id="profilePageBody">
		<!-- Navigation header -->
		<div id="navigationHeader">
			<div id="backHome">
				<a href="../">Home</a>
			</div>
			
			<!-- end of code i wrote -->
			
			<!--dropdown menu reference from w3schools-->
			<div class="dropDown">
				<img class="btnImg" src="{{ userProfile.profileImg.url}}" alt="profile image" onclick="dropDownMenu()"/>
				<div id="dropDownMenu" class="dropDownContent" >
					<a href="../editProfile/">Edit Profile</a>
					<a href="../userLogout/">Logout</a>
				</div>
			</div>
		</div>
		
		<!-- I wrote this code -->
		<div id="profileHeader">
			<div id="coverImage">
				<img src="{{userProfile.coverImg.url}}" alt="Cover Image">
			</div>
			<div id="profileInfo">
				<div id="profileImage">
					<img src="{{userProfile.profileImg.url}}" alt="Profile Image">
				</div>
				<form action="../follow/{{userProfile.user.id}}" method="POST">
					{% csrf_token %}
					<div id="userName">
						<h1>{{userProfile.user.username}}</h1>
					</div>
					
					<p>{{userPostNo}} Posts</p>
					<p>{{followerNo}} Followers</p>
					<p>{{followingNo}} Following</p>
					
					<!--show edit profile button when it is user own profile-->
					{% if userName.username == user.username %}
					<a href="../editProfile/" class="editProfileButton">Edit Profile</a>
					{% endif %}
					<!--show the follow button when the profile page is not user profile-->
					{% if userName.username != user.username %}
						<button class="followButton" type="submit">{{btnText}}</button>
					{% endif %}
				</form>
			</div>
		</div>

		<div id="profilePageContent">
			<div id="userBio">
				{{userProfile.bio}}
			</div>
		    
			<div id="postContent">
				{% for post in userPosts %}
				<div class="postContainer">
					<div class="postHeader">
						<div class="postInfo">
							<a href="#">{{post.user}}</a>
							<p>{{post.created}}</p>
						</div>
						<!--More icon by Icons8-->
						<div id="deletePost">
							<!-- Upload icon by Icons8 -->
							<img class="deleteImg" src="/media/icons8-more-90.png" alt="more icon" width="30" height="30" onclick="dropDownDelete()"/>
							<div id="dropDownDelete" class="dropDownDeleteContent" >
								<a href="#">Delete Post</a>
							</div>
						</div>
					</div>
					
					<div class="postCaption">
						<p>{{post.caption}}</p>
					</div>
					
					<div class="postImage">
						<img src="{{post.image.url}}" alt="post image"/>
					</div>
					
					<div class="postLikeNo">
						{% if post.likes > 0 %}
						<p>Liked by {{post.likes}} </p>
						{% endif %}
					</div>
					<hr>
					<div class="likeBtn">
						<!--Like icon by Icons8-->
						<img src="/media/icons8-like-64.png" alt="like icon" width="30" height="30"/>
						<!--passed in the postId for each post that you have clicked like button-->
						<a href="../likePost/?postId={{post.postId}}">Like</a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>

	    <script src="{% static 'myScript.js' %}"></script>
	</body>
</html>
<!-- end of code i wrote -->

